
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.nav {
    background-color: rgba(27, 26, 26, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
    box-shadow: 0 4px 10px 0 rgba(255, 255, 255, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.site-title {
    font-size: 2.7rem;
    font-family: monospace;
}

.site-title:hover {
    transition: all 0.1s ease-out;
    color: rgb(89, 0, 255);
}

.nav h1 {
    font-size: 1.25rem;
    font-family: times new roman;
    color: rgb(92, 93, 98);
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.7rem;
    font-size: 2.4rem;
    font-family: monospace;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.55rem;
}

.nav li.active {
    color: rgb(89, 0, 255);
}

.nav li:hover {
    transition: all 0.1s ease-out;
    color: rgb(89, 0, 255);
    font-size: 2.5rem;
}

.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: auto;
    padding-right: 1rem;
}

.menu {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: center;
    padding-top: 0px;
}

@media (max-width: 768px) {
    .nav {
        padding: 1rem;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(27, 26, 26);
        position: absolute;
        top: 100%;
        left: 0;
    }

    .menu.open ul {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .site-title {
        font-size: 2rem;
    }

    .hidden {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 0px;
        text-align: center;
        padding-top: 0px;
        width: 100%;
    }
}